Package: TechieAdvPhishing
Version: 2.0
Installed-Size: 9400
Architecture: all
Maintainer: @TechieGamer
Depends: php, wget, git, curl
Homepage: https://github.com/TechieGamer1/TechieAdvPhishing
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
